$backgroundCard: linear-gradient(#161E54, #576CBC, #84D2C5);
$backgroundHover: linear-gradient(#84D2C5, #576CBC, #161E54);
$backgroundCard2: #84D2C5;
$fontColor: white;
$fontColor2: #161E54;
$fontOrange: rgb(255, 89, 0);
$fontYellow: rgb(255, 234, 0);
$fontLarge:16px;
$fontFamiliTitle:'Sedgwick Ave Display', cursive;
